.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--third-color);
  padding: 0.5rem;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
  z-index: 100000;

  &:hover {
    transform: translateY(0.7rem) !important;
  }

  p,
  a {
    color: white;
    padding: 0.5rem;
    text-align: center;
    max-width: 100%;
    margin-left: 0;
    font-size: 1rem;
  }

  img {
    width: 13rem;
  }
}

@media (max-width: 425px) {
  .project {
    img {
      width: 12rem;
    }
  }
}
