.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 1.2rem;
  width: 100vw;
  height: 12vh;
  transition: 0.3s ease-in-out;
  z-index: 10000;

  &.active {
    background-color: rgba(0, 0, 0, 0.7);
    .navbar {
      .skills-area {
        .link,
        .home {
          color: rgba(255, 255, 255, 0.7);
        }
      }
      .link {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    svg {
      padding-right: 0.5rem;
      font-size: 1.7rem;
    }

    .home {
      margin-left: 2rem;
      margin-right: 35rem;
      transition: 0.3s ease-in-out;

      &:hover {
        scale: 1.2;
      }
    }

    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s ease-in-out;
      white-space: nowrap;
      text-decoration: none;
      color: var(--text-color);
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 0rem;
        height: 0.3rem;
        border-radius: 1rem;
        background: white;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        scale: 1.1;

        &::after {
          width: 100%;
        }
      }

      &:last-child {
        margin-right: 2rem;
      }
    }
    .skills-area {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease-in-out;
      .link {
        svg {
          margin-left: 0.3rem;
          font-size: 1.2rem;
          transition: all 0.2s ease-in-out;
          transform-origin: 6px 10px;
        }
        &::after {
          content: none;
        }
        &:hover {
          svg {
            transform: rotate(-30deg);
          }
        }
      }
      .menu {
        position: absolute;
        top: 5rem;
        width: 8rem;
        height: 0;
        border-radius: 10px;
        background-color: var(--background-color);
        transition: all 0.5s ease-in-out;
        overflow: hidden;
        opacity: 1;

        p {
          width: 100%;
          text-align: center;
          padding-bottom: 0.8rem;
          padding-top: 0.8rem;
          font-size: 1rem;
          opacity: 0;
          transition: all 0.3s ease-in-out;

          &:last-child {
            border-bottom: none;
          }
        }
      }
      &.active {
        .link {
          svg {
            transform: rotate(-90deg);
          }
        }
        .menu {
          height: 11.7rem;
          border: 1px solid rgb(255, 255, 255, 0.5);
        }
        p {
          opacity: 1;
          &:hover {
            scale: 1.1;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .navbar-wrapper {
    .navbar {
      .home {
        margin-right: 27rem;
      }
    }
  }
}

@media (max-width: 992px) {
  .navbar-wrapper {
    .navbar {
      .home {
        margin-right: 22rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar-wrapper {
    .navbar {
      .home {
        margin-right: 15rem;
      }
    }
  }
}

@media (max-width: 600px) {
  .navbar-wrapper {
    font-size: 1.1rem;
    .navbar {
      .home {
        margin-right: 8rem;
      }
    }
  }
}

@media (max-width: 425px) {
  .navbar-wrapper {
    .navbar {
      font-size: 0.9rem;
      svg {
        font-size: 1.4rem;
      }
      .home {
        margin-right: 3rem;
      }
      .skills-area {
        .menu {
          width: 7rem;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .navbar-wrapper {
    .navbar {
      font-size: 0.8;
      .home {
        margin-right: 0rem;
      }
      svg {
        font-size: 1.2rem;
      }
    }
  }
}
