.home-page {
  .parallax {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100000;
    width: 100vw;

    .shape1 {
      position: absolute;
      z-index: -100000;
      width: 60rem;
      height: 60rem;
      background: var(--third-color);
      border-radius: 15rem;
      transform: rotate(230deg);
      animation: shapeAnimatio1 1s ease-in-out;
      box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 1);
    }
    .shape2 {
      position: absolute;
      z-index: -10000;
      width: 50rem;
      height: 2.5rem;
      background: var(--third-color);
      border-radius: 5rem;
      transform: rotate(230deg);
      animation: shapeAnimatio1 1s ease-in-out;
      box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 1);
    }
    .shape3 {
      position: absolute;
      z-index: -10000;
      width: 40rem;
      height: 0.7rem;
      background: var(--third-color);
      border-radius: 5rem;
      transform: rotate(230deg);
      animation: shapeAnimatio1 1s ease-in-out;
      box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 1);
    }
    .shape4 {
      position: absolute;
      z-index: -10000;
      width: 32rem;
      height: 0.7rem;
      background: var(--third-color);
      border-radius: 50rem;
      transform: rotate(50deg);
      animation: shapeAnimation2 1s ease-in-out;
      box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 1);
    }
    .shape5 {
      position: absolute;
      width: 9rem;
      height: 9rem;
      z-index: -999;
      background-color: transparent;
      border-radius: 50%;
      border: 1.1rem solid white;
      animation: shapeAnimation4 1s ease-in-out;
      opacity: 0.6;
    }
    .shape6 {
      position: absolute;
      z-index: -10000;
      width: 12rem;
      height: 1.2rem;
      border-radius: 30rem;
      background: white;
      opacity: 0.4;
      transform: rotate(230deg);
      animation: shapeAnimation3 1s ease-in-out;
      box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 1);
    }
    .shape7 {
      position: absolute;
      z-index: -10000;
      width: 12rem;
      height: 1.2rem;
      border-radius: 30rem;
      background: white;
      opacity: 0.4;
      transform: rotate(230deg);
      animation: shapeAnimation3 1s ease-in-out;
      box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 1);
    }
    .shape8 {
      position: absolute;
      z-index: -10000;
      width: 9rem;
      height: 0.5rem;
      border-radius: 30rem;
      background: var(--third-color);
      opacity: 0.4;
      transform: rotate(230deg);
      animation: shapeAnimation3 1s ease-in-out;
      box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 1);
    }
    .shape9 {
      position: absolute;
      z-index: -10000;
      width: 18rem;
      height: 0.6rem;
      border-radius: 30rem;
      background: var(--third-color);
      opacity: 0.4;
      transform: rotate(230deg);
      animation: shapeAnimation3 1s ease-in-out;
      box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.84);
    }
  }

  .presentation {
    letter-spacing: 1px;
    height: 100vh;
    width: 85%;
    margin-top: 12rem;

    .title {
      margin-bottom: -1rem;
    }

    .typewriter {
      margin-bottom: 3rem;
    }
    .slogan {
      font-weight: bold;
    }
  }

  .sk-title {
    margin-bottom: 5rem;
    margin-left: 0;
    max-width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }

  .skills {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-bottom: 15rem;

    .skill-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: translateY(1rem);
      }
      .skill {
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        width: 14rem;
        background: var(--third-color);
        border: 2px solid white;
        border-radius: 3rem;

        svg {
          font-size: 7rem;
        }
      }
      .sk-p {
        margin: 0;
        width: 100%;
        text-align: center;
      }
    }
  }
}

@keyframes shapeAnimatio1 {
  0% {
    transform: rotate(230deg) translate(0, 40px);
  }
  100% {
    transform: rotate(230deg) translate(0, 0);
  }
}

@keyframes shapeAnimation2 {
  0% {
    transform: rotate(50deg) translate(0, -40px);
  }
  100% {
    transform: rotate(50deg) translate(0, 0);
  }
}

@keyframes shapeAnimation3 {
  0% {
    transform: rotate(230deg) translate(100px, 30px);
  }
  100% {
    transform: rotate(230deg) translate(0, 0);
  }
}

@keyframes shapeAnimation4 {
  0% {
    transform: translate(40px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@media (max-width: 1200px) {
  .home-page {
    .parallax {
      .shape5 {
        transform: translateX(-6rem);
      }
    }
    .presentation {
      margin-top: 8rem;
    }
  }
}

@media (max-width: 992px) {
  .home-page {
    .parallax {
      .shape5 {
        transform: translateX(-19rem);
      }
    }
    .presentation {
      margin-top: 6rem;
      margin-bottom: 7rem;
    }
    .skills {
      gap: 6rem;
      flex-wrap: wrap;
      justify-content: center;
      padding: 5rem;
      margin-bottom: 8rem;
    }
  }
}

@media (max-width: 768px) {
  .home-page {
    .parallax {
      left: -6rem;
      scale: 0.8;

      .shape5 {
        transform: translateX(-20rem);
      }
    }
    .presentation {
      margin-bottom: 7rem;
    }
    .skills {
      margin-bottom: 8rem;
    }
  }
}

@media (max-width: 600px) {
  .home-page {
    .parallax {
      left: -9rem;
      scale: 0.8;

      .shape5 {
        transform: translateX(-27rem);
      }
    }
  }
}

@media (max-width: 425px) {
  .home-page {
    .parallax {
      left: -9rem;
      top: 1.5rem;
      scale: 0.59;

      .shape5 {
        transform: translateX(-25rem);
      }
    }
    .presentation {
      margin-top: 9rem;
      margin-bottom: 1rem;
    }
    .skills {
      margin-bottom: 6rem;
    }
  }
}
